<div
  class="paginator"
  [ngClass]="{
    'top-paginator': topPaginator,
    'bottom-paginator': !topPaginator
  }"
>
  <mat-form-field class="items-per-page" *ngIf="showItemsPerPage">
    <mat-label>Items per page</mat-label>
    <mat-select
      matNativeControl
      [formControl]="resultsPerPage"
      class="items-select"
      (selectionChange)="onItemsChange()"
    >
      <mat-option [value]="itemsPerPageValues[0]" selected>
        {{ itemsPerPageValues[0] }}
      </mat-option>
      <mat-option [value]="itemsPerPageValues[1]">
        {{ itemsPerPageValues[1] }}
      </mat-option>
      <mat-option [value]="itemsPerPageValues[2]">
        {{ itemsPerPageValues[2] }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="pages-buttons">
    <button mat-icon-button (click)="onPageChange(-1)" [disabled]="page <= 1">
      <mat-icon class="arrow-back">arrow_back_ios</mat-icon>
    </button>
    <span class="number-of-pages">Page n. {{ page }}</span>
    <button
      mat-icon-button
      (click)="onPageChange(1)"
      [disabled]="listLenght < resultsPerPage.value"
    >
      <mat-icon class="arrow-forward">arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>
