<mat-toolbar>
  <a routerLink="/users" id="app-logo">Our Urbs</a>
  <div class="nav-btns">
    <a routerLink="/users">"users"</a>
    <a routerLink="/posts">"posts"</a>
    <a routerLink="/login">"login"</a>
    <a routerLink="/register">"register</a>
    <a routerLink="/1234">"user-page"</a>
    <button (click)="onProfileClick()">"user-page"</button>
  </div>
  <form
    [formGroup]="searchForm"
    (ngSubmit)="onSearchSubmit()"
    *ngIf="searchablePage"
  >
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input
        matInput
        type="search"
        name="searchField"
        formControlName="searchField"
        [placeholder]="placeholder"
      />
      <button
        mat-icon-button
        type="submit"
        id="search-btn"
        aria-label="Search button"
        matSuffix
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <button
    mat-icon-button
    id="logout-btn"
    aria-label="Logout button"
    (click)="onLogout()"
  >
    <mat-icon id="logout-icon">logout</mat-icon>
  </button>
</mat-toolbar>
