<mat-toolbar class="nav-bar">
  <button routerLink="/users" id="app-logo">
    <span class="logo-text">OurUrbs</span><mat-icon>compost</mat-icon>
  </button>
  <form
    class="search-bar"
    [formGroup]="searchForm"
    (ngSubmit)="onSearchSubmit()"
    *ngIf="searchablePage"
  >
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input
        matInput
        type="search"
        name="searchField"
        formControlName="searchField"
        [placeholder]="placeholder"
      />
      <mat-hint align="start" class="text-secondary mat-hint"
        >Keeping the field empty will reset the research</mat-hint
      >
      <button
        mat-icon-button
        type="submit"
        id="search-btn"
        aria-label="Search button"
        matSuffix
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <div class="nav-btns" *ngIf="userLoggedIn">
    <button
      mat-button
      class="btn hover-btn"
      aria-label="Community"
      (click)="onNavButtonClick('users')"
      id="to-users-btn"
    >
      <mat-icon class="icon" id="people-group-icon">diversity_3</mat-icon>
      <span class="button-text text-secondary">Community</span>
    </button>
    <button
      mat-button
      class="btn hover-btn"
      aria-label="Forum"
      (click)="onNavButtonClick('posts')"
      id="to-posts-btn"
    >
      <mat-icon class="icon" id="forum-icon">forum</mat-icon>
      <span class="button-text text-secondary">Forum</span>
    </button>
    <button
      mat-button
      class="btn hover-btn"
      aria-label="Personal profile"
      (click)="onProfileClick()"
      id="to-personal-profile-btn"
    >
      <mat-icon class="icon" id="person-icon">person</mat-icon>
      <span class="button-text text-secondary">Profile</span>
    </button>
    <button
      mat-button
      class="btn hover-btn"
      id="logout-btn"
      aria-label="Logout"
      (click)="onLogout()"
    >
      <mat-icon class="icon" id="logout-icon">logout</mat-icon>
      <span class="button-text text-secondary">Logout</span>
    </button>
  </div>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Menu"
    id="menu-icon"
    class="icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ul class="nav-list">
      <li>
        <button
          mat-button
          class="btn"
          aria-label="Community"
          (click)="onNavButtonClick('users')"
        >
          <mat-icon class="icon" id="people-group-icon">diversity_3</mat-icon>
          <span class="text-secondary">Community</span>
        </button>
      </li>
      <li>
        <button
          mat-button
          class="btn"
          aria-label="Forum"
          (click)="onNavButtonClick('posts')"
          id="to-posts-btn"
        >
          <mat-icon class="icon" id="forum-icon">forum</mat-icon>
          <span class="text-secondary">Forum</span>
        </button>
      </li>
      <li>
        <button
          mat-button
          class="btn"
          aria-label="Personal profile"
          (click)="onProfileClick()"
          id="to-personal-profile-btn"
        >
          <mat-icon class="icon" id="person-icon">person</mat-icon>
          <span class="text-secondary">Profile</span>
        </button>
      </li>
      <li>
        <button
          mat-button
          class="btn"
          id="logout-btn"
          aria-label="Logout"
          (click)="onLogout()"
        >
          <mat-icon class="icon">logout</mat-icon>
          <span class="text-secondary">Logout</span>
        </button>
      </li>
    </ul>
  </mat-menu>
</mat-toolbar>
