h2 {
  font-size: clamp(10vh, 5em, 30vh);
  text-align: center;
}

.form-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .token-container {
    width: 60%;
    margin: 4em 2em 0 2em;
    vertical-align: bottom;
  }
  .error-message {
    min-height: 1.5em;
    color: red;
    font-size: 15px;
  }

  button[type="submit"] {
    margin-top: 3em;
  }
}
