<form class="form-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2>Login</h2>
  <mat-form-field class="form-field" [hideRequiredMarker]="true">
    <mat-label>Name</mat-label>
    <input matInput type="text" name="name" formControlName="name" required />
  </mat-form-field>
  <mat-form-field class="form-field" [hideRequiredMarker]="true">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" required />
  </mat-form-field>
  <mat-form-field class="form-field" [hideRequiredMarker]="true">
    <mat-label>Access Token</mat-label>
    <input
      matInput
      name="token"
      formControlName="token"
      required
      minlength="64"
    />
  </mat-form-field>
  <div class="error-message">
    {{
      !loginForm.get("token")?.valid && loginForm.get("token")?.touched
        ? "Please insert a token: the token should be 64 chars long"
        : ""
    }}
  </div>
  <button mat-raised-button type="submit" [disabled]="loginForm.invalid">
    Submit
  </button>
</form>
<a href="https://gorest.co.in/consumer/login" target="_blank" id="getTokenLink">
  Don't have an access token? Get it here.
</a>
