h2 {
  font-size: clamp(10vh, 5em, 30vh);
  text-align: center;
  margin-top: 1em;
}

.form-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .form-field {
    width: 50%;
    margin: 1em 2em 0 2em;
    vertical-align: bottom;
  }
  .error-message {
    min-height: 1.5em;
    color: red;
    font-size: 15px;
  }
}
