<form class="form-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2>Login</h2>
  <mat-form-field class="form-field" [hideRequiredMarker]="true">
    <mat-label>Access Token</mat-label>
    <input
      matInput
      name="token"
      formControlName="token"
      required
      minlength="64"
      type="password"
    />
  </mat-form-field>
  <div class="error-message">
    {{
      !loginForm.get("token")?.valid && loginForm.get("token")?.touched
        ? "Invalid credentials: check the validity of the token"
        : ""
    }}
  </div>
  <button mat-raised-button type="submit" [disabled]="loginForm.invalid">
    Submit
  </button>
</form>
