<mat-form-field class="paginator">
  <mat-label>Items rendered per load</mat-label>
  <select
    matNativeControl
    [formControl]="resultsPerPage"
    class="items-select"
    (change)="updateUsersBySearch()"
  >
    <option value="12" selected>12</option>
    <option value="24">24</option>
    <option value="48">48</option>
  </select>
</mat-form-field>

<div class="users-container">
  <app-user-card
    style="width: 20%; margin: 15px"
    *ngFor="let user of users"
    [user]="user"
    (onDeleteUser)="deleteUser(user)"
    (toUserPage)="redirectToUserPage(user)"
  ></app-user-card>
</div>
