.users-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .create-user-card {
    button {
      width: 100%;
      border-radius: 50%;
      img {
        height: 60%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
  .user {
    /*CREARE MODULO @extends CARD CON SCSS?*/
    width: 20%;
    margin: 15px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    & > mat-card-header {
      display: flex;
      flex-direction: column-reverse;
      justify-content: end;
      height: 100%;
      padding: 1em;
      img {
        border-radius: 50%;
      }
      mat-card-title {
        height: 3em;
        margin: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }
}

.create-user-form-container {
  position: fixed;
  z-index: 5;
  width: 60vw;
  padding: 2em;
  background-color: rgba($color: black, $alpha: 0.5);
  .create-user-form {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    margin: auto 15%;
    mat-form-field {
      margin: 1em;
    }
  }
  #create-user-btn {
    width: 20%;
    margin: 1em;
    margin-left: auto;
  }
  #close-create-user-form-btn {
    position: absolute;
    top: -24px;
    right: -24px;
    color: red;
    background-color: white;
    border: 1px solid grey;
  }
}
