<app-paginator
  [listLenght]="users.length"
  [topPaginator]="true"
  [itemsPerPageValues]="[8, 16, 24]"
  [page]="page"
  (pageEvent)="updateUsersbyPaginator($event.page, $event.resultsPerPage)"
>
</app-paginator>

<div class="users-container">
  <mat-spinner
    *ngIf="loading && !hideSpinner"
    style="margin-left: auto; margin-right: auto"
  ></mat-spinner>
  <app-user-card
    class="user"
    *ngFor="let user of users"
    [user]="user"
    (toUserPage)="redirectToUserPage(user)"
  ></app-user-card>
</div>

<app-paginator
  [listLenght]="users.length"
  [page]="page"
  [showItemsPerPage]="false"
  (pageEvent)="updateUsersbyPaginator($event.page, $event.resultsPerPage)"
></app-paginator>
